spring:
  application:
    name: shop-sample-api
  mongodb:
    uri: mongodb://localhost:27017/shop_sample

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  show-actuator: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics